<div class="botTabBar mdc-tab-bar" role="tablist" data-mdc-auto-init='MDCTabBar'>
    <div class="mdc-tab-scroller">
        <div class="mdc-tab-scroller__scroll-area" style="margin-bottom: 0px;">
            <div class="mdc-tab-scroller__scroll-content">
                <!---->
                <button @onclick="@((e) => UpdateIcons("0"))" role="tab" class="mdc-tab mdc-tab--active" aria-selected="true" tabindex="0">
                    <span class="mdc-tab__content">
                        <i aria-hidden="true" class="material-icons mdc-tab__icon">
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path d="@tabIcons["0"][0]" />
                            </svg>
                        </i>
                    </span>
                    <span class="mdc-tab-indicator mdc-tab-indicator--active">
                        <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline"></span>
                    </span>
                    <span class="mdc-tab__ripple" style="--mdc-ripple-fg-size:95px; --mdc-ripple-fg-scale:1.85686; --mdc-ripple-fg-translate-start:25.5px, -25.5px; --mdc-ripple-fg-translate-end:32.1641px, -23.5px;"></span>
                </button>
                <!---->
                <button @onclick="@((e) => UpdateIcons("1"))" role="tab" class="mdc-tab" aria-selected="false" tabindex="-1">
                    <span class="mdc-tab__content">
                        <i aria-hidden="true" class="material-icons mdc-tab__icon">
                            <svg width="24px" height="24px" viewBox="0 0 6.3499999 6.3500002" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path d="@tabIcons["1"][0]" />
                            </svg>
                        </i>
                    </span>
                    <span class="mdc-tab-indicator">
                        <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline" style=""></span>
                    </span>
                    <span class="mdc-tab__ripple" style="--mdc-ripple-fg-size:95px; --mdc-ripple-fg-scale:1.85686; --mdc-ripple-fg-translate-start:9.17188px, -11.5px; --mdc-ripple-fg-translate-end:32.1641px, -23.5px;"></span>
                </button>
                <!---->
                <button @onclick="@((e) => UpdateIcons("2"))" role="tab" class="mdc-tab" aria-selected="false" tabindex="-1">
                    <span class="mdc-tab__content">
                        <i aria-hidden="true" class="material-icons mdc-tab__icon">
                            <svg width="24px" height="24px" viewBox="0 0 24 24" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                <path d="@tabIcons["2"][0]" />
                            </svg>
                        </i>
                    </span>
                    <span class="mdc-tab-indicator">
                        <span class="mdc-tab-indicator__content mdc-tab-indicator__content--underline" style=""></span>
                    </span>
                    <span class="mdc-tab__ripple" style="--mdc-ripple-fg-size:102px; --mdc-ripple-fg-scale:1.91071; --mdc-ripple-fg-translate-start:33.3125px, -23px; --mdc-ripple-fg-translate-end:34.1484px, -15px;"></span>
                </button>
                <!---->
            </div>
        </div>
    </div>
</div>

@inject IJSRuntime JSRuntime

@code {

    Dictionary<string, string[]> tabIcons = new Dictionary<string, string[]>
    {
        // Selected, Regular and Filled.
        // home
        { "0", new string[3]{
            null,
            "M13.4505,2.53209 L20.2005,8.2242 C20.7074,8.65171 21,9.28109 21,9.94425 L21,19.747 C21,20.7135 20.2165,21.497 19.25,21.497 L15.75,21.497 C14.7835,21.497 14,20.7135 14,19.747 L14,14.247 C14,14.109 13.8881,13.997 13.75,13.997 L10.25,13.997 C10.1119,13.997 10,14.109 10,14.247 L10,19.747 C10,20.7135 9.2165,21.497 8.25,21.497 L4.75,21.497 C3.7835,21.497 3,20.7135 3,19.747 L3,9.94425 C3,9.28109 3.29255,8.65171 3.79952,8.2242 L10.5495,2.53209 C11.3874,1.8255 12.6126,1.8255 13.4505,2.53209 Z M11.5165,3.67879 L4.76651,9.3709 C4.59752,9.5134 4.5,9.7232 4.5,9.94425 L4.5,19.747 C4.5,19.8851 4.61193,19.997 4.75,19.997 L8.25,19.997 C8.38807,19.997 8.5,19.8851 8.5,19.747 L8.5,14.247 C8.5,13.2805 9.2835,12.497 10.25,12.497 L13.75,12.497 C14.7165,12.497 15.5,13.2805 15.5,14.247 L15.5,19.747 C15.5,19.8851 15.6119,19.997 15.75,19.997 L19.25,19.997 C19.3881,19.997 19.5,19.8851 19.5,19.747 L19.5,9.94425 C19.5,9.7232 19.4025,9.5134 19.2335,9.3709 L12.4835,3.67879 C12.2042,3.44326 11.7958,3.44326 11.5165,3.67879 Z",
            "M10.5492,2.53274 C11.3872,1.82574 12.6128,1.82574 13.4508,2.53274 L20.2008,8.22728 C20.7076,8.65479 21,9.28403 21,9.94703 L21,19.75 C21,20.7165 20.2165,21.5 19.25,21.5 L16.25,21.5 C15.2835,21.5 14.5,20.7165 14.5,19.75 L14.5,14.75 C14.5,14.3358 14.1642,14 13.75,14 L10.25,14 C9.83579,14 9.5,14.3358 9.5,14.75 L9.5,19.75 C9.5,20.7165 8.7165,21.5 7.75,21.5 L4.75,21.5 C3.7835,21.5 3,20.7165 3,19.75 L3,9.94703 C3,9.28403 3.29241,8.65479 3.79916,8.22728 L10.5492,2.53274 Z"
        }},
        // sended
        { "1", new string[3]{
            null,
            "M 2.8465005,3.5221178 0.57852704,2.5242095 C 0.42067801,2.4547559 0.42281203,2.2352488 0.57107221,2.1642543 l 0.0246218,-0.00993 5.05139419,-1.68379791 c 0.1454341,-0.0484785 0.284238,0.0782059 0.2584131,0.22205374 l -0.00741,0.0289525 -1.683798,5.05139397 C 4.1597615,5.9365278 3.9410003,5.9547345 3.8565787,5.8136874 L 3.8444094,5.7900912 2.8465005,3.5221178 0.57852704,2.5242095 Z M 1.2092667,2.3681411 2.9525568,3.1352059 4.1926111,1.8953742 c 0.071037,-0.071037 0.182532,-0.076957 0.260312,-0.017759 l 0.02032,0.01776 c 0.071037,0.071037 0.076957,0.182532 0.017759,0.2603118 L 4.4732441,2.176007 3.2331898,3.4158387 4.0004771,5.1593512 5.3960824,0.9725357 Z",
            "m 4.2159377,2.2267617 -1.1742541,1.643841 c -0.027503,0.038502 -0.032348,0.088759 -0.012709,0.1318045 l 0.8156689,1.7876856 c 0.073114,0.1661573 0.3125042,0.1550475 0.3699128,-0.017166 L 5.8984729,0.72153197 C 5.9501867,0.56640178 5.8025908,0.41881614 5.64745,0.47052634 L 0.59570353,2.1543242 C 0.42347726,2.2117292 0.41236685,2.4511023 0.57853533,2.5242113 L 2.3663458,3.3398234 c 0.043049,0.01964 0.09331,0.014793 0.1318137,-0.012708 L 4.1421151,2.1529443 c 0.023783,-0.016987 0.056835,-0.011478 0.073822,0.012303 0.013143,0.018398 0.013143,0.043115 6e-7,0.061514 z"
        }},
        //all
        { "2", new string[3]{
            null,
            "M6.25,3 L17.75,3 C19.4830315,3 20.8992459,4.35645477 20.9948552,6.06557609 L21,6.25 L21,17.75 C21,19.4830315 19.6435452,20.8992459 17.9344239,20.9948552 L17.75,21 L6.25,21 C4.51696854,21 3.10075407,19.6435452 3.00514479,17.9344239 L3,17.75 L3,6.25 C3,4.51696854 4.35645477,3.10075407 6.06557609,3.00514479 L6.25,3 Z M8.32501359,14.5 L4.5,14.5 L4.5,17.75 C4.5,18.6681734 5.20711027,19.4211923 6.10647279,19.4941988 L6.25,19.5 L17.75,19.5 C18.6681734,19.5 19.4211923,18.7928897 19.4941988,17.8935272 L19.5,17.75 L19.5,14.5 L15.6749864,14.5 C15.3404023,16.1482847 13.9247166,17.4039882 12.2002976,17.4947422 L12,17.5 C10.2529748,17.5 8.78497652,16.3053441 8.36837329,14.6884005 L8.32501359,14.5 Z M17.75,4.5 L6.25,4.5 C5.3318266,4.5 4.57880766,5.20711027 4.5058012,6.10647279 L4.5,6.25 L4.5,13 L9,13 C9.37969577,13 9.69349096,13.2821539 9.74315338,13.6482294 L9.75,13.75 C9.75,14.9926407 10.7573593,16 12,16 C13.190864,16 14.1656449,15.0748384 14.2448092,13.9040488 L14.25,13.75 C14.25,13.3703042 14.5321539,13.056509 14.8982294,13.0068466 L15,13 L19.5,13 L19.5,6.25 C19.5,5.3318266 18.7928897,4.57880766 17.8935272,4.5058012 L17.75,4.5 Z M6.75,9.5 L17.25,9.5 C17.6642136,9.5 18,9.83578644 18,10.25 C18,10.6296958 17.7178461,10.943491 17.3517706,10.9931534 L17.25,11 L6.75,11 C6.33578644,11 6,10.6642136 6,10.25 C6,9.87030423 6.28215388,9.55650904 6.64822944,9.50684662 L6.75,9.5 L17.25,9.5 L6.75,9.5 Z M6.75,6.5 L17.25,6.5 C17.6642136,6.5 18,6.83578644 18,7.25 C18,7.62969577 17.7178461,7.94349096 17.3517706,7.99315338 L17.25,8 L6.75,8 C6.33578644,8 6,7.66421356 6,7.25 C6,6.87030423 6.28215388,6.55650904 6.64822944,6.50684662 L6.75,6.5 L17.25,6.5 L6.75,6.5 Z",
            "M17.75,3 C19.5449254,3 21,4.45507456 21,6.25 L21,17.75 C21,19.5449254 19.5449254,21 17.75,21 L6.25,21 C4.45507456,21 3,19.5449254 3,17.75 L3,6.25 C3,4.45507456 4.45507456,3 6.25,3 L17.75,3 Z M17.75,4.5 L6.25,4.5 C5.28350169,4.5 4.5,5.28350169 4.5,6.25 L4.5,13 L9,13 C9.37969577,13 9.69349096,13.2821539 9.74315338,13.6482294 L9.75,13.75 C9.75,14.9926407 10.7573593,16 12,16 C13.190864,16 14.1656449,15.0748384 14.2448092,13.9040488 L14.25,13.75 C14.25,13.3357864 14.5857864,13 15,13 L19.5,13 L19.5,6.25 C19.5,5.3318266 18.7928897,4.57880766 17.8935272,4.5058012 L17.75,4.5 Z M6.75,9.5 L17.25,9.5 C17.6642136,9.5 18,9.83578644 18,10.25 C18,10.6296958 17.7178461,10.943491 17.3517706,10.9931534 L17.25,11 L6.75,11 C6.33578644,11 6,10.6642136 6,10.25 C6,9.87030423 6.28215388,9.55650904 6.64822944,9.50684662 L6.75,9.5 L17.25,9.5 L6.75,9.5 Z M6.75,6.5 L17.25,6.5 C17.6642136,6.5 18,6.83578644 18,7.25 C18,7.62969577 17.7178461,7.94349096 17.3517706,7.99315338 L17.25,8 L6.75,8 C6.33578644,8 6,7.66421356 6,7.25 C6,6.87030423 6.28215388,6.55650904 6.64822944,6.50684662 L6.75,6.5 L17.25,6.5 L6.75,6.5 Z"
        }}
    };

    public void UpdateIcons(string id)
    {
        // Establecer todos los iconos a Regular.
        for (int i = 0; i < tabIcons.Count; i++)
            tabIcons[tabIcons.ElementAt(i).Key][0] = tabIcons.ElementAt(i).Value[1];

        tabIcons[id][0] = tabIcons[id][2]; // Establecer el icono seleccionado como Filled.
        Console.WriteLine("New Icon Code => " + tabIcons[id][0]);
    }

    protected override void OnInitialized()
    {
        // Establecer todos los iconos a Regular menos el primero.
        for (int i = 1; i < tabIcons.Count; i++)
            tabIcons[tabIcons.ElementAt(i).Key][0] = tabIcons.ElementAt(i).Value[1];

        tabIcons["0"][0] = tabIcons["0"][2]; // Establecer la sección predeterminada como Filled.
    }
}
